# Dependencies
node_modules/

# Build outputs
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# pnpm
.pnpm-store/
pnpm-lock.yaml

# Test
coverage/

# Changeset
.changeset/*.md
!.changeset/README.md
!.changeset/config.json
